@use "../../styles/variables" as *;

.header_settings {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 1rem;
  .labels {
    font: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    height: 2rem;
    margin-right: 0.5rem;
  }
  .labels:hover {
    box-shadow: 0px 0px 20px $underLineColor;
  }
}

.logoparent {
  cursor: pointer;
}
