@use "./variables" as *;

* {
  --bg-color: #1e1e1e;
  --font-color: #d4d4d4;
  --hl-color: #ce9178;
  --fg-color: #474747;
}

.header-settings {
    display: flex;
    width: 20%;
    justify-content: flex-end;
}

.header-logo {
    font-size: 1.5em;
    padding-left: 10px;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between
    //gap: 10px;
    //align-items: center;
    //padding: 10px;
}

.header-settings-dropdown {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 5px;
    //gap: 10px;
    justify-content: space-around;
    align-items: center;
    //width: 10px;
}

.countdown_timer {
  font-size: 2rem;
}

.blur {
  filter: blur(5px);
}

.blurred_click {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.typing-editor {
  //backdrop-filter: blur(20px);
  font-size: 1.2rem;
  background-color: $bgColor;
  outline: none;
  padding: 1rem 0.5rem;
  max-height: 70vh;
  width: 80vw;
  overflow-y: auto;
}

.editor_title {
  color: $underLineColor;
  font-family: Arial, Helvetica, sans-serif;
}

.curr-letter {
  text-decoration: underline;
  text-decoration-color: $underLineColor;
}

.bottom-area {
  width: 50%;
  justify-content: center;
  position: relative;
  .hint {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $initCode;
    kbd {
      background-color: var(--font-color);
      color: var(--bg-color);
      padding: 2.5px 5px;
      margin: 10px;
      border-radius: 3px;
      font-size: 9pt;
    }
  }
  footer {
    width: 100%;
    button,
    & > a {
      font-size: 12pt;
      border: none;
      width: 150px;
      margin: 0;
      padding: 0 10px;
    }
    .contributor-list {
      display: flex;
      flex-direction: column;
      position: absolute;
      bottom: 90px;
      right: 10px;
      max-height: 300%;
      width: 300px;
      overflow-y: auto;
      background-color: var(--bg-color);
      border: 1px solid var(--fg-color);
      box-shadow: 5px 5px var(--fg-color);
      scrollbar-width: thin;
      h2 {
        position: sticky;
        top: 0;
        background-color: var(--bg-color);
        padding: 15px;
        margin: 0;
      }
      .contributor {
        display: flex;
        flex-direction: row;
        padding: 10px;
        img {
          border-radius: 50%;
          margin: 5px;
        }
        .contributor-details {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          padding: 5px 15px;
        }
      }
      &::-webkit-scrollbar {
        width: 5px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: var(--font-color);
        border-radius: 10px;
      }
      &::-webkit-scrollbar-track-piece {
        background-color: var(--bg-color);
      }
    }
  }
}
