@use "./variables" as *;

.typing_test {
  font-size: 3rem;
  outline: none;
  background-color: $bgColor;
}

.curr_letter {
  text-decoration: underline;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $bgColor;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
