@use "./variables" as *;

.typing_test {
  font-size: 3rem;
  outline: none;
  background-color: $bgColor;
}

.curr_letter {
  text-decoration: underline;
}

.container {
    //height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: $bgColor;
}
